*.py text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.csv text eol=lf
*.txt text eol=lf
results/**/eval/**/*_samples_*.jsonl linguist-generated=true
results/**/*.xlsx binary
